<!DOCTYPE html>
<html>
  <title>Edit Note</title>
  
  <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
  <body>
        
{% block body %}

  

<div class="column1" >
  <div class="second">
      <form method="POST" action="{{ url_for('notes.edit_note',e_id=note.minute_id) }}">
        
        <div class="row">
          <div class="col-755">
            <div>{{ form.title.label }} {{ form.title() }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-755">
            <div>{{ form.purpose.label }} {{ form.purpose() }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-755">
            <div>{{ form.name_of_org.label }} {{ form.name_of_org() }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-755">
            <div>{{ form.attendees.label }} {{ form.attendees() }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-755">
            <div>{{ form.body.label }} {{ form.body() }}</div>
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <input type="submit" value="Submit">
        </div>

      </form>
      
  </div>
  <form action="/dashboard" style="padding-top: 15px;">
    <button type="submit" style="width: 200px;  height: 50px;background: #FFFFFF;border-radius: 30px;">Dashboard</button> 
</form>
</div>


{% endblock %}
      
  
</body>
</html>
    
    