<!DOCTYPE html>
<html>
    <body style="background-color: #5DEBE2; width: 1440px; height: 900px;">
        
        <div class="box" style="background-color: #5DEBE2; position: relative;">
            <div style="display: flex; flex-direction: column; align-self: center; margin-left: 65px; margin-right: 65px; margin-top: 65px; margin-bottom: 89px; background-color:white;">
                {% block body %}
                <h1 style="padding-top: 5px;">Title: {{ note.title }}</h1>
                <h3>Purpose: {{ note.purpose }}</h3>
                <h3>Organisation: {{ note.organisation }}</h3>
                <p>The content: {{note.body}} </p>
                <h3>People who attended: {{ note.attendees }}</h3>
                <h3>Written by: {{ note.full_name }}</h3>
                <h3>Date created: {{ create }} </h3>
                <h3>Date modified: {{ modified }}</h3>


                {% endblock %} 
            </div>
        </div>
        
        <div style="padding-left: 645px;">
            <form action="/dashboard">
                <button type="submit" style="width: 200px; height: 50px;background: #FFFFFF;border-radius: 30px;">Dashboard</button> 
            </form>
            <form action="{{ url_for('notes.edit_note',e_id=note.minute_id) }}">
                <button type="submit" style="width: 200px;height: 50px;background: #FFFFFF;border-radius: 30px;">Edit</button>
            </form>
            <form action="{{ url_for('notes.delete_note',d_id=note.minute_id) }}">
                <button type="submit" style="width: 200px;height: 50px;background: #FFFFFF;border-radius: 30px;">Delete</button>
            </form>
        </div>
        
    </body>
</html>
