{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="form-section">
  <form class="forms" method="POST">
      <div class="row">
        <div class="col-75">
          <input type="text" id="fname" name="full_name" placeholder="fullname">
        </div>
      </div>
      <div class="row">
        <div class="col-75">
          <input style="height: 50px; width: 180%; margin-top: 18px;" type="email" id="fname" name="email" placeholder="email">
        </div>
      </div>
      <div class="row">
        
        <div class="col-75">
          <input type="text" id="lname" name="username" placeholder="username">
        </div>
      </div>
      <div class="row">
        
        <div class="col-75">
          <input type="text" id="lname" name="position" placeholder="Position">
        </div>
      </div>
      <div class="row">
        
              <div class="col-75">
                <input style="height: 50px; width: 180%; margin-top: 18px;" min="8" type="password"  id="lname" name="password" placeholder="password">
              </div>
            </div>
            <div class="row">
        
                  <div class="col-75">
                    <input style="height: 50px; width: 180%; margin-top: 18px;" min="8" type="password" id="lname" name="confirm_password" placeholder="      confirm password">
                  </div>
                </div>
      <div>
          <p class="submit-p">Already have an account? <a href="/login"> Log in</a> </p>
      </div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>
      </form>
</div>
{% endblock %}
